.home{
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  background-color: #f5f8fc;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 100px 20px;
  &__content-img{
    width: 300px;
    height: 300px;
    margin: 0 auto 15px;
    img{
      height: 100%;
      width: 100%;
      display: flex;
      object-fit: cover;
      clip-path: ellipse(50% 50% at 50% 50%);
    }
  }
  &__content-introduce{
    h3{
      font-size: 20px;
      color: #666;
      font-weight: 500;
    }
  }
  &__content-desc{
    p{
      font-size: 18px;
      max-width: 500px;
      margin: 0 auto 32px;
    }
  }
  &__content-social{
    display: flex;
    align-items: center;
    justify-content : center;
    width: 100%;
  }
  &__content-social-link{
    width: 22px;
    height: 22px;
    margin: 0 15px;
    transition: all .5s ease;
    img{
      display: block;
      filter: invert(.5);
      &:hover{
        transform: translateY(-6px);
      }
    }
  }
  &__content-btn{
    margin: 35px 0 20px 0;
    a{
      text-decoration: none;
      color: $black;
      font-weight: 500;
      font-size: 18px;
      display: inline-block;
      border-radius: 30px;
      border: 2px solid #7e7e7e;
      padding: 8px 35px 7px;
      transition: all .3s ease;
      &:hover{
        transform: translateY(-5px);
        color: #fff;
        background-color: $black;
        border-color: $black;
      }
    }
  }
}
.my-blog.dark-mode{
  .home{
    background: #191c26;
    &__content-title{
      color: $white;
    }
    &__content-desc{
      color: white;
    }
    &__content-social{
      img{
        filter: invert(.8)
      }
    }
    &__content-introduce{
      h3{
        color: $white;
      }
    }
    &__content-btn{
      a{
        color: $white;
        &:hover{
          color: $black;
          background-color: $white;
        }
      }
    }
  }
}
@media (max-width : 1200px) {
  .home{
    padding: 131px 0 0 0;
    // border-left: 1px solid #cbd3d9;
  }
}