// TYPOGRAPHY
// Define all typographic styles in this file.

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin-bottom: rem(15px);
}

h1 {
  font-size: rem(50px);
}

h2 {
  font-size: rem(45px);
}

h3 {
  font-size: rem(22px);
}

h4 {
  font-size: rem(18px);
}

h5 {
  font-size: rem(16px);
}

h6 {
  font-size: rem(12px);
}
p {
  font-size: rem(18px);
  margin-bottom: rem(15px);
  opacity: 0.8;
}

em {
  font-style: italic;
}

b,
strong {
  font-weight: 700;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

sup {
  vertical-align: super;
}

small {
  font-size: smaller;
}

abbr {
  border-bottom: 1px dotted $text-color;
  cursor: help;
}

tt,
code,
kbd,
samp {
  font-family: 'Poppins', sans-serif;
}
li{
  list-style-type: none;
}

label {
  font-weight: 700;
}

blockquote {
  p {
    display: inline;
  }

  &:before {
    content: '\201c';
  }

  &:after {
    content: '\201d';
  }
}

iframe,
img {
  max-width: 100%;
}

figure {
  line-height: 0;
}
